<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="gaz"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.gaz.entity.TipAparate</class>
        <class>com.company.gaz.entity.Artera</class>
        <class>com.company.gaz.entity.Parteneri</class>
        <class>com.company.gaz.entity.Tari</class>
        <class>com.company.gaz.entity.Judete</class>
        <class>com.company.gaz.entity.Localitati</class>
        <class>com.company.gaz.entity.Strazi</class>
        <class>com.company.gaz.entity.Locatii</class>
        <class>com.company.gaz.entity.Siruta</class>
        <class>com.company.gaz.entity.AcordAcces</class>
        <class>com.company.gaz.entity.CereriRacordare</class>
        <class>com.company.gaz.entity.CiCif</class>
        <class>com.company.gaz.entity.TipAct</class>
        <class>com.company.gaz.entity.InstElibActe</class>
        <class>com.company.gaz.entity.DiamOl</class>
        <class>com.company.gaz.entity.DiamPe</class>
        <class>com.company.gaz.entity.MatConducta</class>
        <class>com.company.gaz.entity.Obiecte</class>
        <class>com.company.gaz.entity.RegimPres</class>
        <class>com.company.gaz.entity.Srs</class>
        <class>com.company.gaz.entity.TipTelefon</class>
        <class>com.company.gaz.entity.Telefoane</class>
        <class>com.company.gaz.entity.TipContor</class>
        <class>com.company.gaz.entity.TipRegulator</class>
        <class>com.company.gaz.entity.Verificator</class>
        <class>com.company.gaz.entity.Proiectant</class>
        <class>com.company.gaz.entity.Proiecte</class>
        <class>com.company.gaz.entity.InstUtilizare</class>
        <class>com.company.gaz.entity.Executant</class>
        <class>com.company.gaz.entity.Srmprm</class>
        <class>com.company.gaz.entity.Bransamente</class>
        <class>com.company.gaz.entity.AcordTehnicRacordare</class>
        <class>com.company.gaz.entity.Conducta</class>
        <class>com.company.gaz.entity.Email</class>
        <class>com.company.gaz.entity.AparateSolicitate</class>
        <class>com.company.gaz.entity.TipDocumente</class>
        <class>com.company.gaz.entity.DocAnexCerRac</class>
        <class>com.company.gaz.entity.ContracteRacordareSD</class>
        <class>com.company.gaz.entity.TipPersoana</class>
        <class>com.company.gaz.entity.NotificareOsdAtr</class>
        <class>com.company.gaz.entity.SocietatiProiectare</class>
        <class>com.company.gaz.entity.Banci</class>
        <class>com.company.gaz.entity.ConturiBancareParteneri</class>
        <class>com.company.gaz.entity.SocietatiExecutie</class>
        <class>com.company.gaz.entity.Tva</class>
        <class>com.company.gaz.entity.CompTarifNotificare</class>
        <class>com.company.gaz.entity.NotificareOsdAtrLinii</class>
        <class>com.company.gaz.entity.OferteContracteRacordareSD</class>
        <class>com.company.gaz.entity.TarifeRacordareFixe</class>
        <class>com.company.gaz.entity.OferteContracteRacordareOSDLinii</class>
        <class>com.company.gaz.entity.TarifeExecutieBransamente</class>
        <class>com.company.gaz.entity.TarifeExecutiePosturi</class>
        <class>com.company.gaz.entity.OferteConRacOSDTarifExeBrLinii</class>
        <class>com.company.gaz.entity.OferteConRacOSDTarifExePostLinii</class>
        <class>com.company.gaz.entity.InstalatoriOSD</class>
        <class>com.company.gaz.entity.ContracteServiciiOE</class>
        <class>com.company.gaz.entity.RepLegal</class>
        <class>com.company.gaz.entity.StatusCerereATR</class>
        <class>com.company.gaz.entity.StatusContracteRacordareSD</class>
        <class>com.company.gaz.entity.StatusContracteServiciiOE</class>
        <class>com.company.gaz.entity.StatusOferteContracteRacordareSD</class>
    </persistence-unit>
</persistence>
